.invisible{
  display: none;
}
.marketing_content_invisible{
  display: none !important;
}

.main {
  font-family: "Manrope","Titan One", sans-serif;
  background: #000000;
  scroll-behavior: smooth;
}
.wrapper {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
.navi{
  padding-top: 58px;
}
.navi_pos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main_name{
  font-family: Titan One;
  font-size: 26px;
  font-weight: 400;
  line-height: 23px;
  background-image: linear-gradient(90deg, #9C8BE5 19.5%, #6F55E5 40%, #2A00E4 65%, #2A00E4 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.navi_links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.navi_link{
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.navi_contact_button{
  background: #2F00FF;
  padding: 12px 22px;
  border-radius: 40px;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #FFFFFF
}

.main_background{
  margin-top: 130px;
}
.main_pos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h1_main{
  font-size: 70px;
  font-weight: 600;
  line-height: 86px;
  text-align: left;
  color: #fff;
}
.h2_main{
  font-size: 27px;
  font-weight: 600;
  line-height: 35px;
  text-align: left;
  color: #fff;
  margin-top: 21px;
}
.main_button{
  margin-top: 75px;
  margin-bottom: 28px;
  background: #2F00FF;
  padding: 20px 26px;
  font-size: 21px;
  color: #fff;
  border-radius: 24px;
  cursor: pointer;
  border: 1px solid #FFFFFF
}
.main_text_content{
  color: #ABABAB;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;

}
.main_text_content-color{
  color: #2F00FF;
}

.part_logos{
  padding-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services_background{
  margin-top: 80px;
  margin-bottom: 190px;
}
.services_text_top{
  margin-bottom: 40px;
  font-size: 19px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
  color: #2F00FF;
}
.services_text_box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.services_text{
  font-size: 55px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  width: 80%;
  color: #fff;
  margin-bottom: 85px;
}
.services_text_content{
  margin-top: 90px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  line-height: 38px;
}
.services_text_content_span{
  color: #2F00FF;

}
.services_img_block{
  margin: 0 auto;
  width: 100%;
  max-width: 1810px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services_img_box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services_img_box_3{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.services_img_box_2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.services_img_box_4{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.services_img_box_svg{
  width: 97%;
  height: auto;
}
.services_img_box_svg_mb{
  margin-bottom: 24px;
}

.command_background{
  margin-top: 90px;
  margin-bottom: 90px;
}
.command_text_h1{
  font-size: 55px;
  font-weight: 800;
  line-height: 66px;
  text-align: left;
  color: #ffffff;
}
.command_text_h2{
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #8D8D8D;
  width: 70%;
  margin-bottom: 30px;
  margin-top: 30px;
}
.command_units{
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  white-space:nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.command_unit_box{
  display: inline-block;
  flex-shrink: 0;
  margin-right: 50px;
  width: 320px;
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #101010;
  border-radius: 24px;
  text-align: center;
}
.command_img{
  width: 144px;
  height: 144px;
  border-radius: 24px;
}
.command_unit_name{
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 16px;

}
.command_unit_position{
  color: #8D8D8D;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.command_units_nav_block{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.command_units_nav{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border: 1px solid #2F00FF;
  border-radius: 12px;
  margin: 15px;
  cursor: pointer;
  transition: background-color .5s, border .5s;
}
.command_units_nav_svg{
  transition: transform .5s;
}
.command_units_nav:hover .command_units_nav_svg{
  transform: scale(1.3);
  transition: transform .5s;
}
.command_units_nav:hover{
  border: 2px solid #2F00FF;
  background-color: #101010;
  transition: background-color .5s;
}

.flag_box{
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  margin-right: 110px;
}
.flag{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  border: 1px solid #2F00FF;
  border-radius: 12px;
}
.lang_box{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}
.lang_text{
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #FFFFFF;
}
.lang_text_color{
  color: #2F00FF;
}



@keyframes open{
  0%{
    opacity: 0;
    transform: translateX(-5%);
  }
  50%{
    opacity: 1;
    transform: translateX(5%);

  }
  100%{
    transform: translateX(0%);

  }
}
@keyframes closed{
  0%{
    opacity: 1;
    transform: translateX(-5%);
  }
  50%{
    opacity: .5;
    transform: translateX(5%);

  }
  100%{
    opacity: 0;
    transform: translateX(0%);

  }
}


.marketing_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 600px;
}
.marketing_item_block{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}
.marketing_item_box{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.marketing_item{
  border-radius: 20px;
  border: 1px solid #232121;
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
}
.marketing_item_name{
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  padding-left: 52px;
  transition: color .5s;
  color: #7F7F7F;
}
.marketing_item_name_action{
  transition: color .5s;
  color: #2F00FF;
}
.marketing_svg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 72px;
  border-radius: 20px;
  border: 1px solid #232121;
  margin-left: 24px;
  cursor: pointer;
}
.marketing_svg_btn{
  transform: rotate(180deg);
  transition: transform .5s;
  transform-origin: center center;
  fill: #7F7F7F;
}
.marketing_svg_btn_action{
  transform: rotate(0deg) scale(1.2);
  transition: transform .5s;
  transform-origin: center center;
  fill: #2F00FF;
}
.marketing_content_item_title{
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
  margin-left: 26px;
  margin-right: 26px;
}
.marketing_content_item_text{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #8D8D8D;
  margin-left: 26px;
  margin-right: 26px;

}
.marketing_content_button{
  background-color: #0B0B0B;
  color: #ffffff;
  border-radius: 24px;
  padding: 26px 36px;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 22px;
  border: 1px solid #2F00FF;
  cursor: pointer;
  width: fit-content;
  margin-left: 26px;
  margin-right: 26px;

}
.marketing_content_item_img{
  width: 100%;
}
.marketing_content_block{
  width: 46%;
  z-index: 0;
}
.marketing_content_box{
  background-color: #0B0B0B;
  border: 1px solid #232121;
  border-radius: 24px;
  animation: open 2s;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 26px;
}
.marketing_content_item_pos{
  overflow: hidden;
  padding-right: 26px;
  padding-left: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.industries_background{
  margin-top: 80px;
  margin-bottom: 80px;
}
.industries_title{
  font-size: 55px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 28px;
}
.industries_h2{
  color: #8D8D8D;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.industries_items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.industries_item{
  padding: 64px 30px 28px 30px;
  background-color: #101010;
  border-radius: 24px;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.industries_item_img{}
.industries_item_title{
  font-size: 34px;
  font-weight: 800;
  line-height: 33px;
  margin-bottom: 36px;
  margin-top: 36px;
  color: #ffffff;
  text-align: center;
}
.industries_item_content{
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #9B9B9B;
  height: 250px;
}
.industries_item_btn{
  background-color: #0B0B0B;
  border: 1px solid #2F00FF;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  padding: 10px 34px;
  border-radius: 24px;
  margin-top: 40px;
}

.research_block{
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  white-space:nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 75px;
}
.research_background{
  margin-top: 120px;
  margin-bottom: 120px;
}
.research_title{
  font-family: Manrope;
  font-size: 55px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  color: #ffffff;
}
.research_background_s{
  padding: 54px 100px 48px 100px;
  width: 546px;
  border-radius: 24px;
  box-sizing: border-box;
  border: 1px solid #232121;
  display: inline-block;
  overflow: hidden;
  flex-shrink: 0;

}
.research_background_s1{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 92%), url("../img/s1.png") no-repeat center;
  background-size: cover;
}
.research_block_top_img_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.research_block_top_img{
  width: 102px;
  height: 58px;
}
.research_block_title{
  font-family: Manrope;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 34px;
}
.research_block_content{
  font-family: Manrope;
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  white-space: pre-wrap;
}
.research_block_content_mb{
  margin-bottom: 74px;

}
.research_block_content_mr{
  margin-right: 8px;
}
.research_block_content_li{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 26px;
}
.research_block_content_li_text{
  font-family: Manrope;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
}
.research_block_content_s1_ul{
  margin-bottom: 512px;
}
.research_block_content_btn{
  padding: 20px 80px;
  border: 1px solid #232121;
  background: none;
  color: #ffffff;
  font-family: Manrope;
  font-size: 21px;
  font-weight: 500;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.research_background_s2{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 92%), url("../img/s2.png") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}
.research_background_s3{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 92%), url("../img/s3.png") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.research_block_content_s3_ul{
  margin-top: 74px;
}

.result_background{
  padding-bottom: 100px;
}
.result_h1{
  font-family: Manrope;
  font-size: 55px;
  font-weight: 800;
  line-height: 66px;
  text-align: left;
  color: #ffffff;
}
.result_h2{
  font-family: Manrope;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  width: 70%;
  color: #ffffff;
  margin-top: 22px;
}

.response_background{
  margin-bottom: 110px;
}
.response_wrapper{
  padding: 78px 70px;
  background: linear-gradient(90deg, #191919 0%, #121212 100%);
  border: 1px solid #2F00FF;
  border-radius: 24px;
}
.response_title{
  font-size: 67px;
  font-weight: 800;
  line-height: 80px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 58px;
}
.response_block{
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    white-space:nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 90px;
}
.response_box{
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  flex-shrink: 0;
  padding: 36px;
  background-color: #101010;
  border-radius: 24px;
  width: 350px;
  margin-right: 50px;
}
.response_data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.response_data_img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.response_data_name{
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}
.response_data_name_text{
  font-size: 21px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 5px;
}
.response_data_name_nic{
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
}
.response_data_content{
    height: 200px;
    white-space: pre-wrap;
}
.response_data_content_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    text-align: justify;
}

.faq_background{
  margin-bottom: 60px;
}
.faq_items{
  margin-top: 30px;
}
.faq_item{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(37, 37, 37, 1);
  padding-top: 30px;
  padding-bottom: 30px;
}
.faq_item_text{
  font-family: Manrope;
  font-size: 26px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  margin-left: 20px;
}

.line{
  width: 100%;
  height: 2px;
  background-color: #858585;
}

.footer_background{
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer_top_data{
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_telega{
  width: 54px;
  height: 51px;
  border-radius: 12px;
  background-color: #232121;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_text{
  margin-bottom: 56px;
  margin-top: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  color: #ffffff;

}



.swiper {
  width: 100%;
  overflow: hidden;
  max-width: 1810px;
}
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.swiper-slide {
  width: auto;
}
.logos_swipe{
  overflow: hidden;
  padding: 33px;
  box-sizing: border-box;
  width: 256px;
  height: 114px;
  border-radius: 24px;
  background-color: #080808;

}



@media (min-width: 320px) {
  .wrapper {
    margin: 0 auto;
    max-width: 290px;
    width: 100%;
  }
}
@media (min-width: 410px) {
  .wrapper {
    max-width: 370px;
  }
}
@media (min-width: 510px) {
  .wrapper {
    max-width: 470px;
  }
}
@media (min-width: 610px) {
  .wrapper {
    max-width: 570px;
  }
}
@media (min-width: 710px) {
  .wrapper {
    max-width: 670px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
  .wrapper {
    max-width: 770px;
  }
}
@media (min-width: 910px) {
  .wrapper {
    max-width: 870px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 952px;
  }
}
@media (min-width: 1010px) {
  .wrapper {
    max-width: 970px;
  }
}
@media (min-width: 1110px) {
  .wrapper {
    max-width: 1070px;
  }
}
@media (min-width: 1210px) {
  .wrapper {
    max-width: 1160px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    max-width: 1340px;
  }
}
@media (min-width: 1810px) {
  .wrapper {
    max-width: 1440px;
  }
}